.Main{
    text-align: center;
}
.chartHeader{
    position: absolute;
    left: 30;
}
/* .Chart{
    align: center
} */
/* .reminderDetails{
    position: absolute;
    left: 0;
} */
/* .fourday{
    position: absolute;
      left: 0;
} */
.bucket{
    position: absolute;
    left: 30;
}

/* .twoweek{
    margin-left: 200px;
    height: 200px;
} */