.Main{
    text-align: center;
}
.chartHeader{
    position: absolute;
    left: 30;
}
.reminderList {
    margin: 0 auto 0 auto;
    display: inline-block;
}
.reminderElement {
    line-height: 2.5rem;
    text-align: left;
}
.buttonShowDetails {
    float: right;
}
/* .Chart{
    align: center
} */
/* .reminderDetails{
    position: absolute;
    left: 0;
} */
/* .fourday{
    position: absolute;
      left: 0;
} */
/* .bucket{
    position: absolute;
    left: 30;
} */

/* .twoweek{
    margin-left: 200px;
    height: 200px;
} */